

# ignore log files and databases
*.log
*.sql
*.sqlite
*.ipynb_checkpoints
*.pyc

# ignore cache
.idea
.pytest_cache
.DS_Store
__pycache__

# temporals
tmp
_tmp
deleteme*
*_solution.ipynb
exercises/plots/*.pdf

# pip install
build
dist
netin.egg-info

