

# ignore log files and databases
*.log
*.sql
*.sqlite
*.ipynb_checkpoints
*.pyc

# ignore cache
.idea
.pytest_cache
.DS_Store
__pycache__

# temporals
tmp
_tmp
deleteme*

# not to be shared
#*_solution.ipynb
exercises/plots/*.pdf
exercises/data/fb_friends/fb_*
exercises/data/fb_friends/*.csv

# pip install
build
dist
netin.egg-info

